<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/oredev-kodapor.css" />
  </head>
  <body>
    <nav>
      <ul>
        <%pages.forEach(function (page) {%>
          <li <%if(page.active) {%>class="active"<%}%>><a href="<%=page.href%>"><%=page.name%></a>
        <%})%>
      </ul>
    </nav>
    <h1><%= title %></h1>

    <div class="bracket">
      <h2>Score</h2>
      <ol>
      <%score.forEach(function (member) {%>
        <li><span class="value"><%=member.score%></span> <%=member.name%></li>
      <%})%>
      </ol>
    </div>

    <div class="bracket">
      <h2>Posts</h2>
      <ol>
      <%posts.forEach(function (member) {%>
        <li><span class="value"><%=member.posts%></span> <%=member.name%></li>
      <%})%>
      </ol>
    </div>

    <div class="bracket">
      <h2>Comments</h2>
      <ol>
      <%comments.forEach(function (member) {%>
        <li><span class="value"><%=member.comments%></span> <%=member.name%></li>
      <%})%>
      </ol>
    </div>

    <div class="bracket">
      <h2>Likes</h2>
      <ol>
      <%likes.forEach(function (member) {%>
        <li><span class="value"><%=member.likes%></span> <%=member.name%></li>
      <%})%>
      </ol>
    </div>
    
    <div class="bracket">
      <h2>Inactive</h2>
      <%=inactive%>
    </div>
  </body>
</html>
