<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/oredev-kodapor.css" />
  </head>
  <body>
    <div id="chart"><svg /></div>
    <script src="oredev-kodapor.js"></script>
    <script>
      barAndLine([
        {
          key: 'Growth',
          bar: true,
          color: '#ccf',
          values: [
            <%data.forEach(function (item) {%>
              ['<%=item.month%>', <%=item.increase%>],
            <%})%>
          ]
        },
        {
          key: '<%=title%>',
          color: '#000',
          values: [
            <%data.forEach(function (item) {%>
              ['<%=item.month%>', <%=item.total%>],
            <%})%>
          ]
        }
      ]);
    </script>
  </body>
</html>
