<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/oredev-kodapor.css" />
  </head>
  <body>
    <nav>
      <ul>
        <%pages.forEach(function (page) {%>
          <li <%if(page.active) {%>class="active"<%}%>><a href="<%=page.href%>"><%=page.name%></a>
        <%})%>
      </ul>
    </nav>
    <div class="wall">
      <%members.forEach(function (member, ix) {%><div class="image-frame"><img src="<%=member.image%>" title="[<%= (ix+1) %>] <%=member.name%> (<%=member.joined%>)" /></div><%})%>
    </div>
  </body>
</html>
