<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/oredev-kodapor.css" />
  </head>
  <body>
    <nav>
      <ul>
        <%pages.forEach(function (page) {%>
          <li <%if(page.active) {%>class="active"<%}%>><a href="<%=page.href%>"><%=page.name%></a>
        <%})%>
      </ul>
    </nav>
    <h1><%= title %></h1>

    <div class="bracket">
      <h2>Posts by comments</h2>
      <ol>
      <%postsByComments.forEach(function (post) {%>
        <li>
          <%=post.from.name%>
          <p><%=post.message%></p>
          <div><span class="value"><%=post.comment_count%></span> comments</div>
          <div><span class="value"><%=post.like_count%></span> likes</div>
          <div><span class="value"><%=post.comment_like_count%></span> likes on comments</div> 
        </li>
      <%})%>
      </ol>
    </div>

    <div class="bracket">
      <h2>Posts by likes</h2>
      <ol>
      <%postsByLikes.forEach(function (post) {%>
        <li>
          <%=post.from.name%>
          <p><%=post.message%></p>
          <div><span class="value"><%=post.comment_count%></span> comments</div>
          <div><span class="value"><%=post.like_count%></span> likes</div>
          <div><span class="value"><%=post.comment_like_count%></span> likes on comments</div>
        </li>
      <%})%>
      </ol>
    </div>

    <div class="bracket">
      <h2>Posts by likes (including comment likes)</h2>
      <ol>
      <%postsByTotalLikes.forEach(function (post) {%>
        <li>
          <%=post.from.name%>
          <p><%=post.message%></p>
          <div><span class="value"><%=post.comment_count%></span> comments</div>
          <div><span class="value"><%=post.like_count%></span> likes</div>
          <div><span class="value"><%=post.comment_like_count%></span> likes on comments</div>
        </li>
      <%})%>
      </ol>
    </div>

    <div class="bracket">
      <h2>Comments by likes</h2>
      <ol>
      <%commentsByLikes.forEach(function (comment) {%>
        <li>
          <%=comment.from.name%>
          <p><%=comment.message%></p>
          <div><span class="value"><%=comment.like_count%></span> likes</div>
        </li>
      <%})%>
      </ol>
    </div>
  </body>
</html>
