<%

function list(arr, html) {
  var cssClass = 'large';
  if(arr.length > 1) cssClass = 'medium';
  if(arr.length > 5) cssClass = 'small';
  %>
  <section>
    <ol>
      <%arr.forEach(function (item) {%>
      <li class="<%=cssClass%>">
        <%html(item)%>
      </li>
      <%})%>
    </ol>
  </section>
  <%
}

%><!DOCTYPE html>
<html class="pink">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/oredev-kodapor.css" />
  </head>
  <body class="pink">
    <div class="reveal">
      <div class="slides">
        <!-- First -->
        <section data-theme="pink">
          <section>
            <h1>WAT, poo and PHP flame wars</h1>
            <h3>This is Code Monkeys</h3>
            <img src="/img/kodapor.jpg" />
          </section>
          <section>
            <h1>Johan Öbrink</h1>
            <h3>Technical Creative Director @ ITEAM</h3>
            <p>
              johan.obrink@gmail.com <br/>
              @JohanObrink
            </p>
          </section>
        </section>

        <!-- History -->
        <section data-theme="white">
          <section>
            <h1>Kodapor</h1>
            <p>Founded 7 Oct 2010</p>
          </section>
          <section>
            <h1>Member growth</h1>
            <iframe src="/memberchart"></iframe>
          </section>
          <section>
            <h1>Posts growth</h1>
            <iframe src="/postchart"></iframe>
          </section>
          <section>
            <h1>Comments growth</h1>
            <iframe src="/commentchart"></iframe>
          </section>
          <section>
            <h1>First members</h1>
          </section>
          <%list(first.slice(0, 1), function (member) {%>
            <img src="<%=member.image%>" />
            <h3><%=member.name%></h3>
            <h4><%=member.title%></h4>
            <p><%=member.joined%></p>
          <%})%>
          <%list(first.slice(1, 5), function (member) {%>
            <img src="<%=member.image%>" />
            <h3><%=member.name%></h3>
            <h4><%=member.title%></h4>
            <p><%=member.joined%></p>
          <%})%>
          <%list(first.slice(5, 15), function (member) {%>
            <img src="<%=member.image%>" />
            <h3><%=member.name%></h3>
            <h4><%=member.title%></h4>
            <p><%=member.joined%></p>
          <%})%>
          <%
          var imagesPerPage = 10 * 19;
          first.slice(15, 1000).forEach(function (member, ix, arr) {
            if(ix === 0 || (ix > 1 && ix%imagesPerPage === 1)) {
              %><section><%
            }%><img
              class="tile"
              src="<%=member.image%>"
              title="<%=(ix+1)%> <%=member.name%> [<%=member.joined%>]"
              /><%
            if(ix > 0 && ix%imagesPerPage === 0 || ix === arr.length-1) {
              %></section><%}
            })%>
        </section>

        <!-- companies -->
        <section data-theme="green">
          <section>
            <h1>Companies</h1>
            <h3>with most members</h3>
          </section>
          <%list(companies.slice(0, 1), function (company) {%>
            <h5>
              <%=company.name%>
              <span><%=company.members%> members</span>
            </h5>
          <%})%>
          <%list(companies.slice(1, 11), function (company) {%>
            <h5>
              <%=company.name%>
              <span><%=company.members%> members</span>
            </h5>
          <%})%>
          <section>
            <h1>Companies</h1>
            <h3>with most <i>active</i> members</h3>
          </section>
          <%list(companiesActive.slice(0, 1), function (company) {%>
            <h5>
              <%=company.name%>
              <span><%=company.members%> members</span>
            </h5>
          <%})%>
          <%list(companiesActive.slice(1, 11), function (company) {%>
            <h5>
              <%=company.name%>
              <span><%=company.members%> members</span>
            </h5>
          <%})%>
        </section>

        <!-- Most active -->
        <section data-theme="blue">
          <section>
            <h1>Most active members</h1>
          </section>
          <!-- Posts -->
          <section>
            <h1>By number of posts</h1>
          </section>
          <%list(activePosts.slice(0, 1), function (member) {%>
            <img src="<%=member.image%>" />
            <h3><%=member.name%></h3>
            <p>
              <b>Posts:</b> <%=member.posts%><br />
              <b>Comments:</b> <%=member.comments%><br />
              <b>Likes:</b> <%=member.likes%><br />
            </p>
          <%})%>
          <%list(activePosts.slice(1, 11), function (member) {%>
            <img src="<%=member.image%>" />
            <h3><%=member.name%></h3>
            <p>
              <b>Posts:</b> <%=member.posts%><br />
              <b>Comments:</b> <%=member.comments%><br />
              <b>Likes:</b> <%=member.likes%><br />
            </p>
          <%})%>
          <!-- Comments -->
          <section>
            <h1>By number of Comments</h1>
          </section>
          <%list(activeComments.slice(0, 1), function (member) {%>
            <img src="<%=member.image%>" />
            <h3><%=member.name%></h3>
            <p>
              <b>Posts:</b> <%=member.posts%><br />
              <b>Comments:</b> <%=member.comments%><br />
              <b>Likes:</b> <%=member.likes%><br />
            </p>
          <%})%>
          <%list(activeComments.slice(1, 11), function (member) {%>
            <img src="<%=member.image%>" />
            <h3><%=member.name%></h3>
            <p>
              <b>Posts:</b> <%=member.posts%><br />
              <b>Comments:</b> <%=member.comments%><br />
              <b>Likes:</b> <%=member.likes%><br />
            </p>
          <%})%>
          <!-- Likes -->
          <section>
            <h1>By number of Likes</h1>
          </section>
          <%list(activeLikes.slice(0, 1), function (member) {%>
            <img src="<%=member.image%>" />
            <h3><%=member.name%></h3>
            <p>
              <b>Posts:</b> <%=member.posts%><br />
              <b>Comments:</b> <%=member.comments%><br />
              <b>Likes:</b> <%=member.likes%><br />
            </p>
          <%})%>
          <%list(activeLikes.slice(1, 11), function (member) {%>
            <img src="<%=member.image%>" />
            <h3><%=member.name%></h3>
            <p>
              <b>Posts:</b> <%=member.posts%><br />
              <b>Comments:</b> <%=member.comments%><br />
              <b>Likes:</b> <%=member.likes%><br />
            </p>
          <%})%>
          <!-- Score -->
          <section>
            <h1>By weighted score</h1>
            <p>score = posts + 0.5 * comments + 0.1 * likes</p>
          </section>
          <%list(activeScore.slice(0, 1), function (member) {%>
            <img src="<%=member.image%>" />
            <h3><%=member.name%></h3>
            <p>
              <b>Posts:</b> <%=member.posts%><br />
              <b>Comments:</b> <%=member.comments%><br />
              <b>Likes:</b> <%=member.likes%><br />
            </p>
          <%})%>
          <%list(activeScore.slice(1, 11), function (member) {%>
            <img src="<%=member.image%>" />
            <h3><%=member.name%></h3>
            <p>
              <b>Posts:</b> <%=member.posts%><br />
              <b>Comments:</b> <%=member.comments%><br />
              <b>Likes:</b> <%=member.likes%><br />
            </p>
          <%})%>
          <!-- Inactive -->
          <section>
            <h1>Inactive members</h1>
            <h3>No posts, comments or likes</h3>
            <p><%=activeInactive%></p>
          </section>
        </section>

        <!-- Most liked -->
        <section data-theme="pink">
          <!-- Nominal likes -->
          <section>
            <h1>Most liked members</h1>
            <h3>Most likes on posts and comments</h3>
          </section>
          <%list(likedNominal.slice(0, 5), function (member) {%>
            <img src="<%=member.image%>" />
            <h3><%=member.name%></h3>
            <p>
              <b>Likes on posts:</b> <%=member.likedPosts%><br />
              <b>Likes on comments:</b> <%=member.likedPosts%><br />
            </p>
          <%})%>
          <!-- Percentage likes -->
          <section>
            <h1>Most liked members</h1>
            <h3>Most likes <i>per</i> post/comment</h3>
          </section>
          <%list(likedPercent.slice(0, 5), function (member) {%>
            <img src="<%=member.image%>" />
            <h3><%=member.name%></h3>
            <p>
              <b>Likes per post:</b> <%=member.likedPosts%>%<br />
              <b>Likes per comment:</b> <%=member.likedPosts%>%<br />
            </p>
          <%})%>
          <!-- Percentage likes (active) -->
          <section>
            <h1>Most liked members</h1>
            <h3>
              Most likes <i>per</i> post/comment for members<br />
              with > 200 posts and/or comments
            </h3>
          </section>
          <%list(likedPercentActive.slice(0, 5), function (member) {%>
            <img src="<%=member.image%>" />
            <h3><%=member.name%></h3>
            <p>
              <b>Likes per post:</b> <%=member.likedPosts%>%<br />
              <b>Likes per comment:</b> <%=member.likedPosts%>%<br />
            </p>
          <%})%>
        </section>

        <!-- Engagement -->
        <section data-theme="orange">
          <!-- Engaging posts based on comments -->
          <section>
            <h1>Most engaging posts</h1>
            <h3>based on number of comments</h3>
          </section>
          <%engagementPostsByComments.forEach(function (post) {%>
            <section>
              <p><%=post.message%></p>
              <ul>
                <%post.tonality.forEach(function (tonality) {%>
                <li>
                  <%=tonality.tone%>:
                  <%=tonality.score%>
                </li>
                <%})%>
              </ul>
              <b>Comments:</b> <%=post.comment_count%><br />
              <b>Likes:</b> <%=post.like_count%><br />
              <b>Likes on comments:</b> <%=post.comment_like_count%>
            </section>
          <%})%>
          <!-- Appreciated posts based on likes -->
          <section>
            <h1>Most appreciated posts</h1>
            <h3>based on number of likes</h3>
          </section>
          <%engagementPostsByLikes.forEach(function (post) {%>
            <section>
              <p><%=post.message%></p>
              <b>Comments:</b> <%=post.comment_count%><br />
              <b>Likes:</b> <%=post.like_count%><br />
              <b>Likes on comments:</b> <%=post.comment_like_count%>
            </section>
          <%})%>
          <!-- Popular discussions based on likes -->
          <section>
            <h1>Most appreciated discussions</h1>
            <h3>based on number of likes on comments</h3>
          </section>
          <%engagementCommentsByLikes.forEach(function (post) {%>
            <section>
              <p><%=post.message%></p>
              <b>Comments:</b> <%=post.comment_count%><br />
              <b>Likes:</b> <%=post.like_count%><br />
              <b>Likes on comments:</b> <%=post.comment_like_count%>
            </section>
          <%})%>
        </section>

        <!-- Links -->
        <section data-theme="white">
          <!-- Most posted links -->
          <section>
            <h1>Most frequently posted links</h1>
          </section>
          <%list(linksPosted, function (link) {%>
            <a href="<%=link.link%>"><%=link.link%></a>:
            <%=link.count%> posts
          <%})%>
          <!-- Most posted domains -->
          <section>
            <h1>Most frequently posted domains</h1>
          </section>
          <%list(linksPostedDomains, function (link) {%>
            <a href="<%=link.link%>"><%=link.link%></a>:
            <%=link.count%> posts
          <%})%>
          <!-- Most liked links -->
          <section>
            <h1>Most liked links</h1>
          </section>
          <%list(linksLiked, function (link) {%>
            <a href="<%=link.link%>"><%=link.link%></a>:
            <%=link.count%> likes
          <%})%>
        </section>

        <!-- Moderating -->
        <section data-theme="black">
          <section>
            <h1>Moderating a community</h1>
          </section>
          <section>
            <h1>It's not about what is written</h1>
            <h3>It's about what is read</h3>
          </section>
          <section>
            <h1>Don't feed the trolls</h1>
            <h3>Starve them of oxygen</h3>
          </section>
          <section>
            <h1>You cannot moderate <i>and</i> participate</h1>
          </section>
          <section>
            <h1>Inclusion is impossible</h1>
            <h3>without exclusion</h3>
          </section>
          <section>
            <ul>
              <li><img class="large" src="/img/tweet1.png" /></li>
              <li><img class="large" src="/img/tweet2.png" /></li>
            </ul>
          </section>
        </section>

        <!-- Thank you -->
        <section data-theme="green">
          <section>
            <h1>Thank you!</h1>
            <p>
              johan.obrink@gmail.com <br/>
              @JohanObrink
            </p>
          </section>
        </section>
      </div>
    </div>
    <script src="/oredev-kodapor.js"></script>
    <script>
      Reveal.initialize({
        // Display controls in the bottom right corner
        controls: false,
        // Display a presentation progress bar
        progress: true,
        // Display the page number of the current slide
        slideNumber: false,
        // Push each slide change to the browser history
        history: false,
        // Enable keyboard shortcuts for navigation
        keyboard: true,
        // Enable the slide overview mode
        overview: true,
        // Vertical centering of slides
        center: true,
        // Enables touch navigation on devices with touch input
        touch: true,
        // Loop the presentation
        loop: false,
        // Change the presentation direction to be RTL
        rtl: false,
        // Turns fragments on and off globally
        fragments: true,
        // Flags if the presentation is running in an embedded mode,
        // i.e. contained within a limited portion of the screen
        embedded: false,
        // Flags if we should show a help overlay when the questionmark
        // key is pressed
        help: true,
        // Flags if speaker notes should be visible to all viewers
        showNotes: false,
        // Number of milliseconds between automatically proceeding to the
        // next slide, disabled when set to 0, this value can be overwritten
        // by using a data-autoslide attribute on your slides
        autoSlide: 0,
        // Stop auto-sliding after user input
        autoSlideStoppable: true,
        // Enable slide navigation via mouse wheel
        mouseWheel: false,
        // Hides the address bar on mobile devices
        hideAddressBar: true,
        // Opens links in an iframe preview overlay
        previewLinks: true,
        // Transition style
        transition: 'default', // none/fade/slide/convex/concave/zoom
        // Transition speed
        transitionSpeed: 'default', // default/fast/slow
        // Transition style for full page slide backgrounds
        backgroundTransition: 'default', // none/fade/slide/convex/concave/zoom
        // Number of slides away from the current that are visible
        viewDistance: 3,
        // Parallax background image
        parallaxBackgroundImage: '', // e.g. "'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg'"
        // Parallax background size
        parallaxBackgroundSize: '', // CSS syntax, e.g. "2100px 900px"
        // Amount to move parallax background (horizontal and vertical) on slide change
        // Number, e.g. 100
        parallaxBackgroundHorizontal: '',
        parallaxBackgroundVertical: ''
      });

      Reveal.addEventListener('slidechanged', function( event ) {
        var theme = event.currentSlide.parentElement.getAttribute('data-theme') || 'white';
        document.body.setAttribute('class', theme);
        document.body.parentElement.setAttribute('class', theme);
      });
    </script>
  </body>
</html>
