<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/oredev-kodapor.css" />
  </head>
  <body>
    <nav>
      <ul>
        <%pages.forEach(function (page) {%>
          <li <%if(page.active) {%>class="active"<%}%>><a href="<%=page.href%>"><%=page.name%></a>
        <%})%>
      </ul>
    </nav>
    <h1><%= title %></h1>

    <div class="bracket">
      <h2>Liked</h2>
      <ol>
      <%likedNominal.forEach(function (member) {%>
        <li>
          <span class="value posts"><%=member.likedPosts%></span>
          <span class="value comments"><%=member.likedComments%></span>
          <%=member.name%>
        </li>
      <%})%>
      </ol>
    </div>

    <div class="bracket">
      <h2>Relative liked (active)</h2>
      <ol>
      <%likedActive.forEach(function (member) {%>
        <li>
          <span class="value posts"><%=member.likedPosts%></span>
          <span class="value comments"><%=member.likedComments%></span>
          <%=member.name%>
        </li>
      <%})%>
      </ol>
    </div>

    <div class="bracket">
      <h2>Relative liked (all)</h2>
      <ol>
      <%liked.forEach(function (member) {%>
        <li>
          <span class="value posts"><%=member.likedPosts%></span>
          <span class="value comments"><%=member.likedComments%></span>
          <%=member.name%>
        </li>
      <%})%>
      </ol>
    </div>
  </body>
</html>
