<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/oredev-kodapor.css" />
  </head>
  <body>
    <nav>
      <ul>
        <%pages.forEach(function (page) {%>
          <li <%if(page.active) {%>class="active"<%}%>><a href="<%=page.href%>"><%=page.name%></a>
        <%})%>
      </ul>
    </nav>
    <h1><%= title %></h1>

    <div class="bracket">
      <h2>Links</h2>
      <ol>
      <%links.forEach(function (link) {%>
        <li>
          <%=link.count%>: <a href="<%=link.link%>" target="_blank"><%=link.link%></a>
        </li>
      <%})%>
      </ol>
    </div>

    <div class="bracket">
      <h2>Linked domains</h2>
      <ol>
      <%domains.forEach(function (link) {%>
        <li>
          <%=link.count%>: <a href="<%=link.link%>" target="_blank"><%=link.link%></a>
        </li>
      <%})%>
      </ol>
    </div>

    <div class="bracket">
      <h2>Liked links</h2>
      <ol>
      <%likedLinks.forEach(function (link) {%>
        <li>
          <%=link.count%>: <a href="<%=link.link%>" target="_blank"><%=link.link%></a>
        </li>
      <%})%>
      </ol>
    </div>

    <div class="bracket">
      <h2>Liked linked domains</h2>
      <ol>
      <%likedDomains.forEach(function (link) {%>
        <li>
          <%=link.count%>: <a href="<%=link.link%>" target="_blank"><%=link.link%></a>
        </li>
      <%})%>
      </ol>
    </div>
  </body>
</html>
